/* App.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .app-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .options-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .option {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid #3498db;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .option:hover {
    background-color: #3498db;
    color: #fff;
  }
  
  .option.selected {
    background-color: #3498db;
    color: #fff;
  }
  
  .selected-option {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .div-with-line {
    background-color: #eee;
    width: 200px;
    height: 200px;
  }
  
  .line {
    width:100svh;
    background-color: #ddd;
    height: 3px;
    transform: rotate(-60deg);
    position: relative;
    /* right: 39px; */
    top: 299px;
  }

  /* .trapezoid {
    border-bottom: 50vh solid #555;
    border-top: 75vh solid #555;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    /* height: 0; */
    /* width: 125px; */
  /* } */